# os-specific
.DS_Store

# editor-related
*.swp
*.sublime-project
*.sublime-workspace

# ruby
vendor/ruby
*.gem
*.rbc
# bundler
.bundle
Gemfile.lock
# yardoc
.yardoc
_yardoc
doc

# output or temporary artifacts
tmp
spec/reports
coverage
